/* MOBILE AND TABLET */
@media screen and (max-width:1023px) {
    :root{
        --height-mainHeader:580px;
        --margin-arrow:0px;
        --margin-tab:2.4rem;
    }
    .hide-on-mobile-and-tablet{
        display: none;
    }
    .main-header{
        padding-top: 0;
    }
    .navbar_header_item_logo{
        width: 54px;
        height: 62px;
    }
    .icon-svg-search,.icon-svg-save{
        width: 22px;
        height: 22px;
    }
    .isShow{
        display: block;
    }
    .navbar_header_item.isFull{
        flex:1;
        text-align: center;
    }
    .modal-menu{
        top:90px;
    }
    .btn-accommodation{
        display: none;
    }
    .footer-signUp{
        margin-bottom: 15px;
    }
}
/* TABLET */
@media screen and (min-width: 740px) and (max-width:1023px){
    :root{
        --height-mainHeader:415px;
        --padding-page:40px;
        --heading-size:5.4rem;
        --position-left:15%;
        --title-section:3.4rem;
    }
    .hide-on-tablet{
        display: none;
    }
    .main_slider{
    }
    .featured-Stories-img{
        width: 352px;
        height: 512px;
    }
    .featured-Stories-info{
        max-width: 296px;
    }
    .featured-Stories-info-heading{
        font-size: 3.4rem;
    }
    .btn-featured-Stories{
        padding: 8px 8px;
    }
    .featured-Stories-banner{
        bottom: 12px;
    }
    
}
/* MOBILE */
@media screen and (max-width : 739px) {
    /* html::-webkit-scrollbar {
        display: none;
    } */
    :root{
        --height-mainHeader:100vh;
        --padding-page:6px;
        --heading-size:4.6rem;
        --position-left:50%;
        --line-height:4.8rem;
        --padding-modal-menu:24px;
        --title-section:2.8rem;
        --left-dot:28%;
        --padding-under-inspired:20px 18px;
    }
    .hide-on-mobile{
        display: none;
    }
    .main_slider{
        width: 571px;
    }
    .main_slider_image{
        width: 100%;
        aspect-ratio: 388/610;  
        object-fit: cover;
        transform: scale(1);
    }
    .navbar_button_menu{
        margin-left: 12px;
    }
    .modal-menu.show-in-mobile{
        display: flex;
    }
    .inspired_wrapper{
        padding-right: 0px !important;
        padding-left: 16px;
    }
    .btn-under-inspired{
        left:20px;
        bottom: 10px;
    }
    .featured-Stories-content{
        flex-direction: column-reverse;
    }
    .featured-Stories-info-heading{
        font-size: 2.4rem;
    }
    .featured-Stories-info-text{
        font-size: 1.6rem;
    }
    .featured-Stories-banner{
        aspect-ratio: 1092/768;
    }
    .featured-Stories-img{
        min-height: 0;
        width: 267px;
        height: 188px;
    }
    .featured-Stories-banner{
       bottom: auto;
       top:-40px;
       right: 7%;
    }
    .btn-featured-Stories{
        padding: 8px 10px;
    }
    .featured-Stories-banner-dots{
        right: 20%;
    }
    .featured-Stories-info{
        margin-top: 140px;
    }
    .footer-main{
        padding: 50px 10px;
    }
    .featured-Stories {
        margin-top: 150px;
    }
    .footer-btn{
        padding: 8px 18px;
    }
    .footer-item{
        margin-top: 12px;
    }
    .footer-end{
        padding-top:27px;
        padding-bottom: 80px;
    }
    .dot-wrapper{
        width: 60%;
    }
}
@media screen and (max-width : 414px) {
    :root{
        --height-mainHeader:100px;
    }
    .slider{
        margin-top: 10px;
    }
    .main_slider{
        width: 386px;
    }
}
@media screen and (max-width:376px) {
    :root{
        --height-mainHeader:100px;
    }
    .slider{
        margin-top: 10px;
    }
    .main_slider{
        width: 347px;
    }
}

@media screen and (max-width :320px) {
    :root{
        --heading-size:4rem;
        --line-height:4.6rem;
        --title-section:2.4rem;
    }
    .main_slider{
        width: 291px;
    }
    .season-button{
        min-width: 160px;
    }
    .season-button-text {
        font-size: 1.3rem;
        padding: 0 2px;
    }
}
/* PC LOW */
@media screen and (min-width: 1023px) and (max-width:1160px){
    :root{
        --height-mainHeader:556px;
        --padding-page:40px;
    }
    .navbar_header_item_logo{
        width: 54px;
        height: 62px;
    }
    .navbar_header_item:first-child{
        margin-right: 35px;
    }
}
